# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Practice.v.7/Release/vc142.pdb
Practice.v.7/Release/Practice.v.7.tlog/unsuccessfulbuild
Practice.v.7/Release/Practice.v.7.tlog/Practice.v.7.lastbuildstate
Practice.v.7/Release/Practice.v.7.tlog/CL.command.1.tlog
Practice.v.7/Release/Practice.v.7.log
Practice.v.7/Practice.v.7.vcxproj.user
Practice.v.7/Practice.v.7.vcxproj.filters
Practice.v.7/Practice.v.7.vcxproj
Practice.v.7/Practice.v.7.sln
Practice.v.7/.vs/Practice.v.7/v16/.suo
Practice.v.7/.vs/Practice.v.7/v16/Browse.VC.db
Practice.v.7/Debug/Practice.v.7.log
Practice.v.7/Debug/Practice.v.7.tlog/CL.command.1.tlog
Practice.v.7/Debug/Practice.v.7.tlog/Practice.v.7.lastbuildstate
Practice.v.7/Debug/Practice.v.7.tlog/unsuccessfulbuild
Practice.v.7/Debug/vc142.idb
Practice.v.7/Debug/vc142.pdb
Practice.v.7/Debug/Practice.v.7.vcxproj.FileListAbsolute.txt
Practice.v.7/Debug/Practice.v.7.tlog/link.write.1.tlog
Practice.v.7/Debug/Practice.v.7.tlog/link.read.1.tlog
Practice.v.7/Debug/Practice.v.7.tlog/link.command.1.tlog
Practice.v.7/Debug/Practice.v.7.tlog/CL.write.1.tlog
Practice.v.7/Debug/Practice.v.7.tlog/CL.read.1.tlog
Practice.v.7/Debug/Practice.v.7.pdb
Practice.v.7/Debug/Practice.v.7.ilk
Practice.v.7/Debug/Practice.v.7.exe.recipe
Practice.v.7/.vs/Practice.v.7/v16/ipch/AutoPCH/534ca45c84d2754f/SOURCE.ipch
Practice.v.7/.vs/Practice.v.7/v16/Browse.VC.opendb
Practice.v.7/.vs/Practice.v.7/v16/Browse.VC.db-wal
Practice.v.7/.vs/Practice.v.7/v16/Browse.VC.db-shm
*.jpg
